/* CSS */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #dde7a9;
    text-decoration: none;
}
a:hover {
    color: #fff;
}
h1 {
    color: #dde7a9;
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 2px solid #666;
    margin-bottom: 15px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* MENU */
/* Couleur de fond du menu */
.navbar {
    background-color: #666;
    padding-top: 15px;
}
/* F@stochePC11 */
#fastocheHome {
    color: #dde7a9;
    font-size: 35px;
    margin-left: 25px;
}
#fastocheHome:hover {
    color: #fff;
}
/* Menu lien a propos et contact */
div .collapse li .nav-link {
    color: #dde7a9;
    font-size: 20px;
    margin-right: 40px;
}
div .collapse li .nav-link:hover {
    color: #fff;
}
li {
    list-style-type: none;
    display: inline-block;
}
@media (max-width: 700px) {
    li {
        display: block;
        font-size: 15px;
    }
}

 
/* PAGE ACCUEIL */
/* h1 de la page d'accueil */
#home {
    color: #fff;
    margin: 0px;
    background: #666;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 1px;

}

/* Texte de la page accueil */
#presentation {
    text-align: center;
    color: #fff;
    background: #666;
    padding-top: 25px; 
    padding-bottom: 25px;
    letter-spacing: 0.5px;
}

/* Carousel */
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#666, transparent);
}
/* vue mobile le carousel n'est pas affiché */
@media (max-width:700px) {
    .container1 {
        display: none!important;
    }
}
.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    border-radius: 10px;
}
#carouselSlides {
    margin-top: 30px;
}

/* Section contenant dépannage informatique, initiation à l'informatique, analyse et sauvegarde */
#columm {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.imageHome{
    border-radius: 10px;
}
.textHome {
    margin-top: 15px;
}
figcaption {
    border-bottom: 2px solid #666;
    margin-top: 15px;
    padding-bottom: 10px; 
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* PAGE A PROPOS */
.a_propos {
    margin-top: 30px;
    font-size: 20px;
}
.text_a_propos {
    margin-bottom: 30px;
}

/* PAGE CONTACT */
.contact {
    margin-top: 30px;
    margin-bottom: 20px;
}
.mb-3 {
    padding-bottom: 15px;
}
/* Bouton envoyer */
.btn-contact {
    margin-bottom: 40px;
    color: #fff;
    background-color: #dde7a9;
    border: #fff ;
    font-weight: bold;
    text-shadow: 2px 1px 1px #666;
    letter-spacing: 1px;
}
.btn-contact:hover {
    color: #dde7a9;
    background-color: #fff;
    border: #dde7a9 1px solid;
}
.error {
    color: red;
}
/*Page de confirmation d'envoi du formulaire - envoi.php */
#lienRetourAccueil {
    color : #000;
}
#lienRetourAccueil:hover {
    color : #dde7a9;
}
#imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#messageEnvoiForm {
    color: green;
    font-size: 35px;
    text-align: center;
}

/* PAGE POLITIQUE DE CONFIDENTIALITE */
#politiqueConfidentialite {
    margin-top: 30px;
}
.article {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#lienCNIL {
    color: #666;
}
#lienCNIL:hover {
    color: black;

}
#finTexteConfidentialite {
    margin-bottom: 35px;
}

/* PAGE MENTIONS LEGALES */
.siren {
    margin-top: 30px;
    margin-bottom: 45px;
}
.mentions {
    margin-top: 30px;
}

/* FOOTER */
footer {
    background-color: #666;
    text-align: center; 
    padding-top: 10px;
    margin-top: auto;
    
}

#copyright {
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 15px;
}


